<h2>Primeiro projeto em Angular</h2>

<form action="">
  <div>
    <label for="title">Nome:</label>
    <input type="text" placeholder="Digite seu nome">

    <label for="date">Data:</label>
    <input type="text" placeholder="Digite uma data">

    <label for="senha">Senha:</label>
    <input type="text" placeholder="Digite uma senha">

    <label for="cel">Selecione:</label>
    <input type="checkbox" id="select" value="select">

    <label for="cel">Numero:</label>
    <input type="text" placeholder="Digite seu numero de telefone">

    <label for="cel">Numero:</label>
    <input type="text" placeholder="Digite seu numero de telefone">
  </div>
</form>